.paragrafi{
    border: 0.5px solid #171717;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: #f9f9f9;
}

.pres{
    margin-top: 60px;
    margin-bottom: 60px;
}

.flow-text{
    color: #171717 !important;
    font-family: "Inter", sans-serif !important;
    font-weight: 300 !important;
}