nav {
    all: initial;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: fixed;
    z-index: 999;
    width: -webkit-fill-available;
}


nav .row {
    background-color: #f9f9f9;    
    margin-bottom: 0;
}

nav #mainrow{
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 10px rgb(0 0 0 / 14%), 0px 3px 14px rgb(0 0 0 / 12%), 0px 5px 5px rgb(0 0 0 / 20%) !important;
}


.nav-links-small{
    position: absolute;
    top:0;
    left: -200%;
    transition: all 500ms;
    height: fit-content;
    width: 100vw;
    z-index: 10;
}

.nav-links-small.show{
    left: 0;
    box-shadow: 0px 1px 20px 3px #000000d9;
}

.nav-links-small .row{
    background-color: rgb(92, 92, 92);
}

.nav-menu-small{
    padding-top: 25px !important;
}


.nav-link-small{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    font-size: large;
    width: 100%;
    color: #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}

.nav-link-large{
    font-size: large;
    padding-top: 25px;
    text-align: center;
    margin: 0;
    line-height: 24px;
    color: black;
    
}

.nav-link-large:hover{
    background-color: initial;
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}




#titolo-big{
    text-transform: uppercase;
    font-size: 1.8em;
    color: #171717;
}

.close-nav{
    padding-top: 25px;
    padding-left: 15px;
    border-bottom: 2px solid black
}