.page-banner{
    height: 320px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    filter: grayscale();
    text-align: center;
    padding-top: 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: -1px 4px 2px rgb(0 0 0 / 32%);
    border-top: 2px solid #171717;
}

h1{
    margin-top: 0;
}

.title{
    margin-bottom: 0px;
    color: white;
    background: black;
    padding: 30px;
    font-weight: 500;
}